{{!-- Main Layout --}}
{{#if headerCollapsed}}
<div class="filter-tag-container">
    {{> "render-types" onlyChosen=true }}
</div>
{{else}}
<div class="flexcol padding-part">
    <section class="filter filter-set collapsible">
        <div class="filter-header">
            <label data-action="toggleCollapse">
                <span class="roboto-upper">Types</span>
                <i class="fa-solid fa-caret-down"></i>
            </label>
        </div>
        <div class="collapsible-content">
            <div class="wrapper filter-tag-container">
                {{> "render-types" onlyChosen=false }}
            </div>
        </div>
    </section>
</div>
{{/if}}

{{!-- Individual Entry Partial --}}
{{#*inline "type-entry"}}
<div class="type-tag {{#if chosen}}active{{/if}}">
    <label>
        <input
            type="checkbox"
            value="{{@key}}"
            data-action="setType"
            {{checked chosen}}
            {{disabled @root.isLocked.types}}
            hidden
        >
        <span>{{localize label}}</span>
    </label>
</div>
{{/inline}}

{{!-- Flattening/Logic Partial --}}
{{#*inline "render-types"}}
{{#each types}}
{{#if children}}
{{#each children}}
{{#if (or (not ../../onlyChosen) chosen)}}{{> "type-entry" }}{{/if}}
{{/each}}
{{else}}
{{#if (or (not ../onlyChosen) chosen)}}{{> "type-entry" }}{{/if}}
{{/if}}
{{/each}}
{{/inline}}
