<section class="body-tab">
    <div class="content-layout">
        <div class="body-wrap">
            <header class="chart-header">
                <div class="control-row secondary">
                    <div class="toggler" data-action="toggleGraphType">
                        <div class="option {{ifThen (eq state.type 'bar') 'active' '' }}" data-tooltip="Bar Chart">
                            <i class="fa-solid fa-chart-column"></i>
                        </div>
                        <div class="option {{ifThen (eq state.type 'bar') '' 'active' }}" data-tooltip="Line Chart">
                            <i class="fa-solid fa-chart-line"></i>
                        </div>
                    </div>

                    <div class="toggler" data-action="toggleGranularity">
                        <div class="option  {{ifThen (eq state.granularity 'daily') 'active' '' }}" data-tooltip="Daily View">
                            <i class="fa-solid fa-calendar-days"></i>
                        </div>
                        <div class="option  {{ifThen (eq state.granularity 'daily') '' 'active' }}" data-tooltip="Hourly View">
                            <i class="fa-solid fa-clock"></i>
                        </div>
                    </div>
                
                    <div class="comparison-grid">
                        <label class="checkbox-option">
                            <input
                                type="checkbox"
                                data-type="playerAvail"
                                {{checked  state.comparison.playerAvail}}
                            > 
                            <span>Players Availability</span>
                        </label>

                        <label class="checkbox-option">
                            <input
                                type="checkbox"
                                data-type="gmAvail"
                                {{checked  state.comparison.gmAvail}}
                            > 
                            <span>GM Availability</span>
                        </label>

                        <label class="checkbox-option">
                            <input
                                type="checkbox"
                                data-type="playerRec"
                                {{checked  state.comparison.playerRec}}
                            > 
                            <span>Login Players Record</span>
                        </label>

                        <label class="checkbox-option">
                            <input
                                type="checkbox"
                                data-type="gmRec"
                                {{checked  state.comparison.gmRec}}
                            > 
                            <span>Login GM Record</span>
                        </label>
                    </div>

                    <div class="toggler" data-action="toggleUsersPool">
                        <div class="option {{ifThen state.onlyActive '' 'active' }}" data-tooltip="Include All Users"><span>All Users</span></div>
                        <div class="option {{ifThen state.onlyActive 'active' '' }}" data-tooltip="Include Active Users Only"><span>Active Only</span></div>
                    </div>
                </div>
                <nav class="control-row primary">
                    <a
                        class="filter-group {{ifThen state.selections.users.length "active" ""}}"
                        data-action="openFilterMenu"
                        data-filter="players"
                        data-tooltip="Filter by Players"
                    >
                        <i class="fa-solid fa-users"></i>
                        <label>Players</label>
                    </a>
                    <a
                        class="filter-group {{ifThen state.selections.days.length "active" ""}}"
                        data-action="openFilterMenu"
                        data-filter="days"
                        data-tooltip="Filter by Days"
                    >
                        <i class="fa-solid fa-calendar-day"></i>
                        <label>Days</label>
                    </a>
                    <a
                        class="filter-group"
                        data-action="openFilterMenu"
                        data-filter="timeLapse"
                        data-tooltip="Filter Time Range"
                    >
                        <i class="fa-solid fa-clock"></i>
                        <label>Time Lapse</label>
                    </a>
                    <a
                        class="filter-group {{ifThen state.recency "active" ""}}"
                        data-action="openFilterMenu"
                        data-filter="recency"
                        data-tooltip="Filter by Last Seen"
                    >
                        <i class="fa-solid fa-user-clock"></i>
                        <label>Seen Within</label>
                    </a>
                </nav>
            </header>

            <div class="chart-wrapper">
                <canvas class="analytics-canvas"></canvas>
            </div>
        </div>
        <aside class="chart-sidebar flexcols">    
            {{#if drillDown}}
            <div class="sidebar-header">
                <div class="anchor-container">
                    <a class="anchor-icon fa-solid fa-chevron-right" data-action="toggleSidebar"></a>
                </div>
                <h3>{{drillDown.title}}</h3>
            </div>
    
            <ul class="user-list unlist">
                {{#each drillDown.users}}
                <li class="user-entry" style="--user-color: {{color}}">
                    <div class="user-info">
                        <span class="name">{{name}}</span>
                        <span class="role-tag">{{role}}</span>
                    </div>
                    <div class="status-tags">
                        {{#each categories}}
                        {{#if (eq label 'Availability')}}
                        <i class="fa-solid fa-calendar-check" data-tooltip="<section class='hours-list'><h2>Available</h2><ul class='hours-list'>{{#each hours}}<li class='hour-item'>{{this}}</li>{{/each}}</ul></section>"></i>
                        {{else}}
                        <i class="fa-solid fa-clock-rotate-left" data-tooltip="<section class='hours-list'><h2>Recent Login</h2><ul class='hours-list'>{{#each hours}}<li class='hour-item'>{{this}}</li>{{/each}}</ul></section>"></i>
                        {{/if}}
                        {{/each}}
                    </div>
                </li>
                {{/each}}
            </ul>
            {{/if}}
        </aside>
    </div>
</section>