<section class="body scrollable">
    {{#each setting as |tab|}}
    <div
        class="tab {{lookup (lookup @root.tabs tab.id) 'cssClass'}}"
        data-group="primary"
        data-tab="{{tab.id}}"
    >
        <div class="content grid-container" style="{{tab.style}}">
            {{#each segments as |segment|}}
            <div
                class="segment {{ifThen segment.model.isClickable 'clickable' ''}}"
                style="{{segment.style}}"
                data-segment-id="{{segment.model.id}}"
                data-tab-id="{{../id}}"
                data-action="clickSegment"
            >
                <div class="ackground-blur"></div>
                <div class="wrappler">
                    {{{enrichedHTML}}}
                </div>
            </div>
            {{/each}}
        </div>

    </div>
    {{/each}}
    
    {{> "modules/tcr-main-module/templates/main-hud/bug-tracker.hbs"}}
</section>