<div
    class="tab {{tabs.bugTracker.cssClass}}"
    data-group="primary"
    data-tab="bugTracker"
>
    <div class="tracker-container">
        <table class="issue-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Score</th>
                    <th>Subject / Priority</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Last Update</th>
                </tr>
            </thead>
            <tbody>
                {{#each issue}}
                <tr>
                    <td class="col-id">{{this.id}}</td>
                    <td class="col-score">
                        <div class="vote-arrows">
                            <span>▲</span>
                            <span>{{this.score}}</span>
                            <span>▼</span>
                        </div>
                    </td>
                    <td class="col-subject">
                        <span class="priority-tag {{this.priority}}">{{this.priority}}</span>
                        <div class="subject-title">{{this.title}}</div>
                        <div class="subject-desc">{{this.description}}</div>
                    </td>
                    <td>{{this.category}}</td>
                    <td><span class="status-open">● {{this.status}}</span></td>
                    <td>{{this.lastUpdate}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>