<section
    class="tab {{tabs.bugTracker.cssClass}} bug-tracker"
    data-group="primary"
    data-tab="bugTracker"
>

    <header class="bug-tracker-header flexcol">
        <div class="header-top-row">
            <div class="toggle-buttons" data-action="toggleSelfFilter">
                <div class="selection-pill {{ifThen filters.showOnlySelf "active" ""}}"></div>
                <div class="btn {{ifThen filters.showOnlySelf "" "active"}}" data-filter="all">All Reports</div>
                <div class="btn {{ifThen filters.showOnlySelf "active" ""}}" data-filter="self">My Reports</div>
                <div class="separator-circle">or</div>
            </div>
        
            <div class="search-container">
                <div class="search" aria-label="Search Issue">
                    <input
                        id="{{partId}}-search"
                        type="text"
                        name="name"
                        placeholder="Search Issue"
                        value="{{filters.searchQuery}}"
                    >
                </div>
            </div>

            <button
                type="button"
                class="btn-new-ticket"
                data-action="createTicket"
            >
                New Ticket
            </button>
        </div>

        <div class="stats-grid">
            <div class="stat-card flexrow">
                <div class="stat">
                    <div class="value">100 <i class="fa-solid fa-envelope"></i></div>
                    <div class="label">Bugs Reported</div>
                </div>
                <div class="stat-time">7 Days</div>
            </div>
      
            <div class="stat-card flexrow">
                <div class="stat">
                    <div class="value">50 <i class="fa-solid fa-envelope-open"></i></div>
                    <div class="label">Bugs Resolved</div>
                </div>
                <div class="stat-time">7 Days</div>
            </div>
            <div class="stat-card flexrow">
                <div class="stat">
                    <div class="value">100 <i class="fa-solid fa-folder"></i></div>
                    <div class="label">Bugs Reported</div>
                </div>
                <div class="stat-time">All Times</div>
            </div>
            <div class="stat-card flexrow">
                <div class="stat">
                    <div class="value">50 <i class="fa-solid fa-folder-open"></i></div>
                    <div class="label">Bugs Resolved</div>
                </div>
                <div class="stat-time">All Times</div>
            </div>
        </div>
    </header>

    <div class="tracker-container grid-table">
        {{!-- Header Row --}}
        <div class="grid-header">
            <div class="col-score">Score</div>
            <div class="col-issueType">Type</div>
            <div class="col-priority">Priority</div>
            <div class="col-id">ID</div>
            <div class="col-summary">Subject</div>
            <div class="col-status">Status</div>
            <div class="col-last-modified">Last Update</div>
        </div>

        {{!-- Data Body --}}
        <div class="grid-body scrollable"></div>
    </div>
</section>