<div
    class="grid-row"
    data-key="{{issue.key}}"
    data-action="editIssue"
>
    <div class="col-score">
        <div class="flexcol">
            <a
                class="score-anchor up fa-solid fa-arrow-up  {{#if (eq issue.userVote 1)}}active{{/if}}"
                data-action="addScoreIssue"
                data-score="1"
            ></a>
            <span>{{issue.score}}</span>
            <a
                class="score-anchor down fa-solid fa-arrow-down {{#if (eq issue.userVote -1)}}active{{/if}}"
                data-action="addScoreIssue"
                data-score="-1"
            ></a>
        </div>
    </div>
    <div class="col-issueType" data-tooltip="{{issue.typeLabel}}">{{{issue.typeIcon}}}</div>

    <div class="col-priority">
        {{{issue.priorityIcon}}} <span>{{issue.priorityLabel}}</span>
    </div>
    <div class="col-id">{{issue.numericID}}</div>
    <div class="col-summary">
        {{issue.summary}}
    </div>
    <div class="col-status">
        {{{issue.statusIcon}}}
        {{issue.statusLabel}}
    </div>
    <div class="col-last-modified">
        <div class="flexcol">
            <div class="date-label">
                {{issue.createdLabel.date}}
            </div>
            <div class="time-label">
                {{issue.createdLabel.time}}
            </div>
        </div>
    </div>
    {{#if (or currentUser.isGM issue.user.isSelf)}}
    <div class="controls">
        <a
            class="fa-solid fa-trash"
            data-action="deleteIssue"
            data-tooltip="Delete Issue"
        ></a>
    </div>
    {{/if}}
</div>